<div class="banner">
    <img src="img/bleu.jpg" alt="">
    <h2>Vous êtes sur la page a porpos</h2>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/192x200" alt="...">
      <div class="caption">
        <h3>General Manager</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sunt, iste eius necessitatibus a, veniam velit possimus saepe dolorem vitae odit assumenda molestiae. Placeat expedita deleniti facilis, ea neque a!</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/192x200" alt="...">
      <div class="caption">
        <h3>Project manager</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sunt, iste eius necessitatibus a, veniam velit possimus saepe dolorem vitae odit assumenda molestiae. Placeat expedita deleniti facilis, ea neque a!</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/192x200" alt="...">
      <div class="caption">
        <h3>Products</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sunt, iste eius necessitatibus a, veniam velit possimus saepe dolorem vitae odit assumenda molestiae. Placeat expedita deleniti facilis, ea neque a!</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>